<DOCTYPE html!>
  <html lang="en">
  <head>
    <meta charset="utf-8"></meta>
    <title>Demo Blog</title>
    <script></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>

  <body>
    <h1> New Blog</h1>

    {% for post in posts %}
      <div>
        <h2><a href="#">{{ post.title }}</a></h2>
        <p>published: {{ post.published_date }}</p>
        <p><strong>{{ post.text|linebreaksbr }}</strong></p>
      </div>
    {% endfor %}
  </body>
  </html>
